{{ define "main" }}
<div class="col-sm-12 h1 text-primary text-center mt-5 h1 pro1">{{.Title}}</div></br>

<section class="testi_text">
   
    <div class="container">
    <div class="col-md-12 col-12 col-sm-12">
      {{ range (where .Data.Pages "Type" "sitemapproduct")}}   
      <div class="col-md-4 col-4 col-sm-4 col-12 sitemap_wrap">
            {{ with .Params.image }}<img src="{{ . | absURL }}" class="img-responsive" alt="Image">{{end}}
         <h3>{{ with .Title }} {{ . | safeHTML }} {{ end }}</h3> 
      </div>
     {{end}}
  </div>
  <div class="col-md-12 col-12 col-sm-12">
      <div class="row">        
        <div class="col-md-5 col-sm-12 sitemap_wrap2">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="../salons">SALONS</a></li>
            <li><a href="../contact">CONTACT US</a></li>
            <li><a href="../product">PRODUCTS</a></li>
            <li><a href="../affiliates">AFFILIATES</a></li>
            <li><a href="../about">ABOUT US</a></li>
            <li><a href="../sitemap">SITEMAP</a></li>
            <li><a href="../blog">BLOG</a></li>
            <li><a href="../faq">FAQ</a></li>
            </ul>
        </div>

        <div class="col-md-5 col-sm-12 sitemap_wrap2" >
            <ul>
            <li><a href="../testimonials">Caspah Reviews & Testimonials</a></li>
            <li><a href="../wholesale-inquiry">Wholesale Bleaching Cream</a></li>
            <li><a href="../intimate-lightening-cream">Intimate Lightening Cream</a></li>
            <li><a href="/">Caspah Bleaching Cream</a></li>
            <li><a href="../scar-lightening-cream">Scar Lightening Cream</a></li>
            <li><a href="../spot-lightening-cream">Spot Lightening Cream</a></li>
            <li><a href="../vaginal-bleaching">Vaginal Bleaching</a></li>
            <li><a href="../anal-bleaching">Anal Bleaching</a></li>           
            <li><a href="../refund_policy">Refunds</a></li>
            <li><a href="../privacy_policy">Privacy</a></li>
            <li><a href="../thankyou">Thank You</a></li> 
            </ul>
        </div>
        
        </div>
    </div>
</div>

</section>
{{partial "we_accept.html" . }}
{{end}}
