{{ define "main" }}
<div class="col-sm-12 h1 text-primary text-center mt-5 h1 pro1">{{.Title}}</div>
<div class="col-sm-12 h1 text-primary text-center mt-5" style="margin-bottom: 0.3em; color: #032248 !important">{{.Params.description}} </div>
<h3 class="choose_perfect" style="text-align: center;">{{ .Content }}</h3>

<section class="testi_text">

<div class="container">
<div class="col-md-12 col-12 col-sm-12">
     <div class="row">  
    {{ range (where .Data.Pages "Type" "product")}}
  <div class="col-md-4 col-4 col-sm-4 col-12 products_page">
    <div class="caspah_product">
        {{ with .Params.image }}<img src="{{ . | absURL }}" class="img-responsive" style="width:100%" alt="Image">{{end}}
     <h3 style="text-align:center;">{{ with .Title }} {{ . | safeHTML }} {{ end }}</h3>
     <p style="text-align:center;">{{ with .Description }} {{ . | safeHTML }} {{ end }}</p>
     <div class="col-12 col-md-12 col-sm-12 order">
        <div class="row">
						<div class="col-6 col-md-6 col-sm-12"><a href="#" class="text-left acolor" style="color: #f48e8a;">Order now</a></div>
						<div class="col-6 col-md-6 col-sm-12 star"><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span></div>
						</div>
    </div>
    </div>
  </div>
  {{end}} 
</div> 
</div>
</div>
</section>
{{partial "we_accept.html" . }}

{{ end }}
